@import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption');
/*Universal*/
.padding-null {
  padding: 0;

}

/*Nav*/
.nav{
  /*height: 250px;
  position: fixed;
  left: 0;
  top: 0;*/
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 2em;
}

.button-container{
  height: 50px;
  width: 500px;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

.center-img {
  display:flex;
  justify-content: center;
}
.ribbon{
  z-index: -1;
}

.ribbon-container {
  position: absolute;
  top: 65px;
}

.header-logo{
  height: 200px;
  display: flex;
  justify-content: center;
}

.my-button{
  display: inline;
  height: 33px;
  width: 86px;
  border: 2px solid #e0b041;
  font-family: "PT Serif Caption", serif;
  color: #ef8fba;
  background-color: white;
}

.about{
  /*height: 400px;
  width: 300px;
  display: flex;
  justify-content: space-around;*/
}

@media only screen and (max-width:520px) {
  .ribbon-container {
    display: none;
  }
}
