@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC');
/*Universal*/
.padding-null {
  padding: 0;

}

/*Nav*/
.nav{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 2em;
}

.button-container{
  height: 50px;
  width: 500px;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

.center-img {
  display:flex;
  justify-content: center;
}
.ribbon{
  z-index: -1;
}

.ribbon-container {
  position: absolute;
  top: 65px;
}

.header-logo{
  height: 200px;
  display: flex;
  justify-content: center;
}

.my-button{
  display: inline;
  height: 35px;
  width: 97px;
  border: 2px solid #e0b041;
  font-family: "Vollkorn SC", serif;
  color: #ef8fba;
  background-color: white;
  padding-top: .25em;
}

.my-button:hover{
  background-color:#ef8fba;
  border: 2px solid #e0b041;
  color: white;
}

/*About*/
.name{
  font-family: "Vollkorn SC", serif;
  text-align: center;
  color: #990000;
  margin-bottom: 0;
  font-size: 2.5em;
}

.job{
  font-family: "vollkorn SC", serif;
  text-align: center;
  color: #990000;
  font-size: 1em;
  margin-top: 0;
}

.about-container{
}

.about{
  text-align: justify;
  font-family: sans-serif;
  text-indent: 2em;
  color: #3E3330;
  font-size: 1.17em;
}

.bar{
  border-bottom: 2px solid #e0b041;
  border-top: 2px solid #e0b041;
  padding-top: .75em;
}
/*About End*/

/*Portfolio*/

.design{

}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-image {
  max-width: 300px;
  max-height: 300px;
}

  /*Portfolio End*/

/*Footer*/
.social-container{
  display: flex;
  justify-content: center;
  align-content: center;
}

.social-icon{
  max-width: 65px;
  max-height: 65px;
}

.copyright{
  text-align: center;
  color: #3E3330;
  margin-top: 10px;
}
/*Footer End*/


@media only screen and (max-width:520px) {
  .ribbon-container {
    display: none;
  }
  .footer-ribbon {
    display: none;
  }
  .bar {
    border-bottom: 0px;
    border-top: 0px;
  }
  .about-container {
    padding-left: 20px;
    padding-right: 10px;
  }
}
