@import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption');
/*Universal*/
.padding-null {
  padding: 0;

}

/*Nav*/
.nav{
  height: 250px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.button-container{
  height: 50px;
  width: 500px;
  display: flex;
  justify-content: space-around;
}

.header-logo{
  height: 200px;
  display: flex;
  justify-content: center;
}

.my-button{
  display: inline;
  height: 33px;
  width: 86px;
  border: 2px solid #e0b041;
  font-family: "PT Serif Caption", serif;
  color: #ef8fba;
  background-color: white;
}

.hline-box{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hline-box2{
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5px;
}

.hline1{
  width:75%; height:2px; background: #e0b041;
}

.hline2{
  width:65%; height:2px; background: #e0b041;
}

.left-p{
  height: 400px;
  width: 300px;
  display: flex;
  justify-content: flex-end;
}
